.dominoPiece{
    background-color: aliceblue;
    width: 35px;
    height: 60px;
    border-radius: 20%;

}

.dominoPiece-selected{
    background-color: yellow;
}

.visible {
    background-color: black;
} 

.dot{
    margin: 5%;
	border-radius: 50%;
	width: 3px;
	height: 3px;
}
.upSection{
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
}
.buttomSection{
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
}
.line{
    color: black;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.dominoPiece-optional{
    border: 1px solid rgb(27, 177, 27);
}