.dominoPiece{
    background-color: aliceblue;
    width: 40px;
    height: 74px;
    border-radius: 20%;

}

.visible {
  visibility: visible;
}

.dot{
    margin: 2px;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	background-color: black;
}
.upSection{
    display: inline-block;
    margin-left: 4px;
    margin-top: 2px;
}
.buttomSection{
    display: inline-block;
    margin-left: 4px;
    margin-top: 2px;
}